/* 默认的亮色主题样式 */
:root {
    --background-color: #ffffff;

    --text-color: #000000;

    --link-color: #0000ff;



    // !home页面的主题样式
    --where-color: rgba(21, 28, 26, 0.9);
    --background-start: #fff;
    --background-end: rgba(255, 255, 255, 0);
    --box-shadow-light: 0px 4px 24px 0px rgba(228, 233, 232, 0.5);
    --where-border: #fff;
    --where-bg: #fff;
    --where-text: rgba(21, 28, 26, 0.9);
    --where-button: #fffefb;
    --where-button-hover: #fff;
    --where-button-hover-end: rgba(255, 255, 255, 0);
    --where-button-shadow: rgba(156, 255, 243, 0.5);
    --where-button-border: #3EDFCF;
    --where-button-option: 1;
    --where-button-color: rgba(21, 28, 26, 0.9);

}

/* 暗色主题样式 */
.dark-theme {
    --background-color: #0c0c0c;

    --text-color: #FFFEFB;

    --link-color: #0094ff;

    // !home页面的主题样式
    --where-color: #3EDFCF; // Where_to_Start
    --background-start: #373737;
    --background-end: #373737;
    --box-shadow-light: none;
    --where-border: #373737;
    --where-bg: #151C1A;
    --where-text: #fff;
    --where-button: #373737;
    --where-button-hover: rgba(255, 254, 251, 0.5);
    --where-button-hover-end: rgba(255, 254, 251, 0.5);
    --where-button-shadow: rgba(255, 254, 251, 1);
    --where-button-border: none;
    --where-button-color: rgba(255, 255, 255, 0.5);
}